body{
  font-family: Arial, Helvetica, sans-serif !important;
  color: #000080 !important;
}

.header {
height: 60px;
text-align: center;
background-color: #8fc0cf;
border-radius: 5px;
}

#content {
text-align: center;
padding: 10px;
margin-top: 20px;
}

.navbar ul {
margin: 0px;
height: 30px;
font-size: 20px;
text-align: center;
padding: 1px;
list-style-type: none;
}

.navbar{
  margin-top: 40px !important;
  width: fit-content;
  margin: auto;
}

.navbar ul li {
display: inline;
margin: 50px;
}

.navbar ul li a{
text-decoration: none;
padding: 8px;
color: #000080;
border-radius: 40px;
}

.navbar ul li a:hover{
background-color: #def0ff;
color: #000080;
}

.navbar ul li a.active1{
background-color: #def0ff;
color: #000080;
}

.outerbox{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  overflow: hidden;
  }
  
  .sliderbox{
  position: relative;
  width: 2800px;
  animation: slide 15s infinite;
  }
  
  .img1{
  float: left;
  }
  
  @keyframes slide{
    0%{ left: 0px;}
    20%{ left: 0px;}
    25%{ left: -700px;}
    45%{ left: -700px;}
    50%{ left: -1400px;}
    70%{ left: -1400px;}
    75%{ left: -2100px;}
    95%{ left: -2100px;}
  }